body {
    margin:0px;
    background-image:none;
    position:static;
    left:auto;
    width:1194px;
    margin-left:0;
    margin-right:0;
    text-align:left;
  }
  .form_sketch {
    border-color:transparent;
    background-color:transparent;
  }
  #base {
    position:absolute;
    z-index:0;
  }
  #u31_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u31 {
    border-width:0px;
    position:absolute;
    left:1004px;
    top:40px;
    width:150px;
    height:50px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u31 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u31_div.mouseOver {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u31.mouseOver {
  }
  #u31_div.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u31.mouseDown {
  }
  #u31_div.mouseOver.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u31.mouseOver.mouseDown {
  }
  #u31_text {
    border-width:0px;
    word-wrap:break-word;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
    -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);

    text-transform:none;
  }
  #u32_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:234px;
    height:455px;
    background:inherit;
    background-color:rgba(215, 215, 215, 1);
    border-radius:0px;

    transition:none;
  }
  #u32 {
    border-width:0px;
    position:absolute;
    left:696px;
    top:175px;
    width:234px;
    height:455px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
  }
  #u32 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u32_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u33_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u33 {
    border-width:0px;
    position:absolute;
    left:710px;
    top:216px;
    width:205px;
    height:114px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u33 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u33_div.mouseOver {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u33.mouseOver {
  }
  #u33_div.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u33.mouseDown {
  }
  #u33_div.mouseOver.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u33.mouseOver.mouseDown {
  }
  #u33_text {
    border-width:0px;
    word-wrap:break-word;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
    -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);

    text-transform:none;
  }
  #u34_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u34 {
    border-width:0px;
    position:absolute;
    left:710px;
    top:481px;
    width:205px;
    height:114px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u34 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u34_div.mouseOver {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u34.mouseOver {
  }
  #u34_div.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u34.mouseDown {
  }
  #u34_div.mouseOver.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u34.mouseOver.mouseDown {
  }
  #u34_text {
    border-width:0px;
    word-wrap:break-word;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
    -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);

    text-transform:none;
  }
  #u35_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u35 {
    border-width:0px;
    position:absolute;
    left:265px;
    top:273px;
    width:205px;
    height:114px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u35 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u35_div.mouseOver {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u35.mouseOver {
  }
  #u35_div.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u35.mouseDown {
  }
  #u35_div.mouseOver.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u35.mouseOver.mouseDown {
  }
  #u35_text {
    border-width:0px;
    word-wrap:break-word;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
    -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);

    text-transform:none;
  }
  #u36_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u36 {
    border-width:0px;
    position:absolute;
    left:265px;
    top:424px;
    width:205px;
    height:114px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u36 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u36_div.mouseOver {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u36.mouseOver {
  }
  #u36_div.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u36.mouseDown {
  }
  #u36_div.mouseOver.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u36.mouseOver.mouseDown {
  }
  #u36_text {
    border-width:0px;
    word-wrap:break-word;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
    -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);

    text-transform:none;
  }
  