body {
    margin:0px;
    background-image:none;
    position:static;
    left:auto;
    width:1194px;
    margin-left:0;
    margin-right:0;
    text-align:left;
  }
  .form_sketch {
    border-color:transparent;
    background-color:transparent;
  }
  #base {
    position:absolute;
    z-index:0;
  }
  #u37_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u37 {
    border-width:0px;
    position:absolute;
    left:1004px;
    cursor: pointer;
    top:40px;
    width:150px;
    height:50px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u37 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u37_div.mouseOver {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u37.mouseOver {
  }
  #u37_div.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u37.mouseDown {
  }
  #u37_div.mouseOver.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u37.mouseOver.mouseDown {
  }
  #u37_text {
    border-width:0px;
    word-wrap:break-word;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
    -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);

    text-transform:none;
  }
  #u38_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:234px;
    height:455px;
    background:inherit;
    background-color:rgba(215, 215, 215, 1);
    border-radius:0px;

    transition:none;
  }
  #u38 {
    border-width:0px;
    position:absolute;
    left:696px;
    top:175px;
    width:234px;
    height:455px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
  }
  #u38 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u38_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u39_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u39 {
    border-width:0px;
    position:absolute;
    cursor: pointer;
    left:710px;
    top:197px;
    width:205px;
    height:114px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u39 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u39_div.mouseOver {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u39.mouseOver {
  }
  #u39_div.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u39.mouseDown {
  }
  #u39_div.mouseOver.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u39.mouseOver.mouseDown {
  }
  #u39_text {
    border-width:0px;
    word-wrap:break-word;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
    -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);

    text-transform:none;
  }
  #u40_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u40 {
    border-width:0px;
    position:absolute;
    cursor: pointer;
    left:710px;
    top:347px;
    width:205px;
    height:114px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u40 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u40_div.mouseOver {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u40.mouseOver {
  }
  #u40_div.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u40.mouseDown {
  }
  #u40_div.mouseOver.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u40.mouseOver.mouseDown {
  }
  #u40_text {
    border-width:0px;
    word-wrap:break-word;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
    -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);

    text-transform:none;
  }
  #u41_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u41 {
    border-width:0px;
    position:absolute;
    cursor: pointer;
    left:710px;
    top:497px;
    width:205px;
    height:114px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u41 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u41_div.mouseOver {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u41.mouseOver {
  }
  #u41_div.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u41.mouseDown {
  }
  #u41_div.mouseOver.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u41.mouseOver.mouseDown {
  }
  #u41_text {
    border-width:0px;
    word-wrap:break-word;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
    -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);

    text-transform:none;
  }
  #u42_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u42 {
    border-width:0px;
    position:absolute;
    cursor: pointer;
    left:265px;
    top:273px;
    width:205px;
    height:114px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u42 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u42_div.mouseOver {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u42.mouseOver {
  }
  #u42_div.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u42.mouseDown {
  }
  #u42_div.mouseOver.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u42.mouseOver.mouseDown {
  }
  #u42_text {
    border-width:0px;
    word-wrap:break-word;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
    -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);

    text-transform:none;
  }
  #u43_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u43 {
    border-width:0px;
    position:absolute;
    cursor: pointer;
    left:265px;
    top:424px;
    width:205px;
    height:114px;
    display:flex;
    transition:none;
    transform-origin:50% 50%;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u43 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u43_div.mouseOver {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u43.mouseOver {
  }
  #u43_div.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(30, 152, 215, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(204, 204, 204, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u43.mouseDown {
  }
  #u43_div.mouseOver.mouseDown {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:114px;
    background:inherit;
    background-color:rgba(230, 230, 230, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(173, 173, 173, 1);
    border-radius:4px;

    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
    transition:none;
    font-size:20px;
    color:rgba(255, 255, 255, 0.996078431372549);
    line-height:24px;
  }
  #u43.mouseOver.mouseDown {
  }
  #u43_text {
    border-width:0px;
    word-wrap:break-word;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
    -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);

    text-transform:none;
  }
  