body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1194px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:188px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:308px;
  width:801px;
  height:188px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:132px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:336px;
  width:229px;
  height:132px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:132px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u12.mouseOver {
}
#u12_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:132px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u12.mouseDown {
}
#u12_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:132px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u12.mouseOver.mouseDown {
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:132px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:336px;
  width:229px;
  height:132px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:132px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u13.mouseOver {
}
#u13_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:132px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u13.mouseDown {
}
#u13_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:132px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u13.mouseOver.mouseDown {
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  text-transform:none;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:132px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:336px;
  width:229px;
  height:132px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:132px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.11764705882352941) inset;
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u14.mouseOver {
}
#u14_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:132px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u14.mouseDown {
}
#u14_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:132px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.11764705882352941) inset;
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.996078431372549);
  line-height:24px;
}
#u14.mouseOver.mouseDown {
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  text-transform:none;
}
